<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="styles/schedule.css">
        <script src="lib/jquery/jquery-3.2.1.min.js"></script>
        <script src="lib/bootstrap/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="div-center">
            <form id="login_form">
                <span>Логин</span>
                <input class="form-control"/>
                <span>Пароль</span>
                <input class="form-control"/>
            </form>
        </div>
    </body>
</html>